
.titulo{
    background-image: url(img/diploma.png);
    background-repeat: no-repeat;
    border-bottom: 1px solid #5C9CCC;
}


.titulo H1{
    font-size: 10pt;
    color: black;
    padding-left: 38px;
    padding-top: 2px;
}

.titulo p{
    margin: 2px 0px;
    color: #3F3F3F;
}

.titulo UL{
    margin: 0px 0px;
    color: #3F3F3F;
}

#items {
    padding: 0;
}

.items-nombre {
    text-align:left;
    font-size: 9pt;
}

.items-actions {
    margin:0;
}

.titulosview {
    background-color: white;   
}

.field-col select, .field-col input, .field-col label {
    width:90%;
    margin-left:4%;
    margin-right:4%;
}