.titulo{
    margin:5px 0 5px 0;
}

.alerta-desactualizada{
    height: 100px;
    text-decoration: none;
    color: inherit;
    cursor: pointer; cursor: hand;
}

.alerta-desactualizada:hover{
    color: #25abe1;
}

.alerta-desactualizada p{
    text-align:center;
}


.titulo div, .detalles div {
    margin: 5px 0 5px 0;
}

.titulo div p, .detalles div p {
    display:inline-block;
    width: 200px;
    vertical-align: top;
    margin: 0;
}
.titulo div h2, .detalles div h2{
    display:inline-block;
    width: 150px;
    margin:0 13px 0 13px;
    font-size: 1.2em;
    vertical-align: top;
}
.titulo div ul, .detalles div ul{
    display: inline-block;
    margin-top: 5px;
    margin-left: 0;
    width: 200px;
    -moz-padding-start : 0;
    -webkit-padding-start : 0;
}



.detalles{
    margin: 20px 0 20px 0;
}

.outdated{
    background: url(img/outdated.png) no-repeat;
    background-position: 0 50%;
    text-indent: -1000px;
    overflow: hidden;
    height: 44px;
    display: block;
    width: 44px;
    outline: none;    
    float: right;
    margin-right: 20px;
    margin-top: -30px;
}

.marcada {
    font-weight: bold;
}
.marcada a {
    text-decoration: none;
    color: #58585A;
}

.items-nombre {
    display: block;
    margin-left: 10px;
    text-align:left;
    font-size: 9pt;
    font-weight: bold;
}

.instit-items-domicilio1 {
    display: inline-block;
    width: 40%;
    padding-left: 20px;
}
.instit-items-domicilio2 {
    display: inline-block;
    width: 40%;
}
.instit-items-gestion {
    display: inline-block;
    width: 10%;
}

.instit-items-domicilio1 p, .instit-items-domicilio2 p{
    margin: .2em 0px;
    font-size: 9pt;
}

.items-actions{
    top:17px;
}