/*
azules
#0082ca oscuro
#25abe1 claro

#E57609 naranja

#f1f1f2 body
#58585a negro letra
#b1cc2f verdoso amarillento
#dcddde gris oscuro fondos box

*/

.error-message{
    color: red;
}


LABEL {
    color: #58585a;
    font-size: 1.2em;
    clear: both;
    display: block;
}

INPUT, TEXTAREA, select {
    border: 1px solid #dcddde; 
    background: #f1f1f2; 
    color: #58585a; 
}
INPUT:HOVER, TEXTAREA:HOVER, select:HOVER{
    background: #F7F7F7; 
}
INPUT:FOCUS, TEXTAREA:FOCUS, select:FOCUS{
    background: #fff;
}

body{
    background-color: #f1f1f2;
    /* background-image: url(img/shadow.png); */
    background-repeat: repeat-x;
    background-position: 0 100px;
    color: #58585a;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 9pt;
}

h1, h2{
   color: #2A546B;
   margin: 13px 0px 13px 0px;
}

h1 A, h1 A:visited, h2 A, h1 A:visited, h3 A, h3 A:visited, h4 A, h4 A:visited{
   color: #58585a;
   margin: 13px 0px 13px 0px;
   text-decoration: none;
}
h1 A:HOVER, h2 A:HOVER, h3 A:HOVER, h4 A:HOVER{
   color: #58585a;
   margin: 13px 0px 13px 0px;
   text-decoration: underline;
}

h1{
    font-size: 1.6em;
}

h2{
    font-size: 1.43em;
}
h3{
    font-size: 1.4em;
    margin-bottom: 5px;
    margin-top: 5px;
}
h4{
    font-size: 1.1em;
    margin-bottom: 5px;
    margin-top: 5px;
}


A{
    color: #0082ca;
}

A:hover{
    color: #25abe1;
}

A:visited{
    /*color: #9B4B06;*/
}

h1.corpus{
    background-color: #5C9CCC;
    color: #fff;
    text-transform: uppercase;
    float: left;
    clear: both;
}

h3 {
    font-weight: bold;
    color: #b1cc2f;
}

ol, ul {
    list-style: url(img/listitem.gif);
    padding-left: 30px;
}

ol ol, ul ul{
    list-style: url(img/listitem2.gif);
    padding-left: 30px;
}


dt{
    float: left;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 15px;
    width: 150px;
}

dd{
    display: table;
    margin-bottom: 5px;
    margin-left: 0;
    margin-bottom: 5px;
}

dd ul{
    margin: 0px;
    padding: 0px;
}


#header{ 
    height: 158px;
    overflow: visible;
    
background: #0090d0; /* Old browsers */
background: -moz-linear-gradient(left, #0090d0 0%, #81c3eb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0090d0), color-stop(100%,#81c3eb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #0090d0 0%,#81c3eb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #0090d0 0%,#81c3eb 100%); /* Opera11.10+ */
background: -ms-linear-gradient(left, #0090d0 0%,#81c3eb 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0090d0', endColorstr='#81c3eb',GradientType=1 ); /* IE6-9 */
background: linear-gradient(left, #0090d0 0%,#81c3eb 100%); /* W3C */

}


#head-text{
    position: relative;
    height: 158px;
    background: url(img/bandera_trans.png) no-repeat right;
}

#logo img{
    height: 128px;
}

#header_title{
   
}


#header_ministerio{
    width: 265px;
    height: 87px;
    float:left;
    margin-left: 10px;
}

#header h1 {
    margin: 35px 0px 0px 0px; 
    color: white;    
}
#header h1 a{
    text-decoration: none;
    margin: 0 auto;
    color: #fff;
    font-weight: bolder;
    font-size: 0.9em;
}

#header h1 a:hover {
    background: none;
    text-decoration: none;
    text-shadow: #000 1px 1px 0;
}

#menuhead{
    margin-top: 30px;
    height: 41px;
}



.sponsors{
    margin-top: 15px;
    margin-bottom: 10px;
    border-top: 1px solid #e2e2e4;
    overflow: hidden;
    text-align: center;
}

.sponsors a img {
    text-decoration: none;
    display: inline-block;
    margin: 13px 7px;
    border:0px;
}

#footer{
    background-color: #fff;
    text-align: center;
    color: #A3A29C;
    padding-bottom: 10px;
}

#container{
    
}


.cuerpo{
    border: 2px solid #5C9CCC;
    
    -webkit-border-top-left-radius: 2em;
    -webkit-border-top-right-radius: 2em;
    -moz-border-radius-topleft: 2em;
    -moz-border-radius-topright: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    
    background-color: white;
    
}


.centrado{
    text-align: center;
}

.boxblanca{
    background-color: #fff;
    border: 1px solid #e2e2e4;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    padding: 5px 10px;
}

.boxblancacuadrada{
    background-color: #fff;
    border: 2px solid #F1F1F2;

}

.boxgris{
    background-color: #dcddde;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    padding: 5px 10px;
    border: 1px solid #D1D2D3;
}


.mas_info_azul_small{
    text-indent: -1000px;
    overflow: hidden;
    background: url(img/lupazul_small.png) no-repeat;
    height: 15px;
    display: inline-block;
    width: 15px;
    outline: none;
    vertical-align: middle;
}

.mas_info_gris_small{
    text-indent: -1000px;
    overflow: hidden;
    background: url(img/lupagris_small.png)  no-repeat;
    height: 15px;
    width: 15px;
    display: inline-block;
    outline: none;
    vertical-align: middle;
}



.mas_info_azul{
    text-indent: -1000px;
    overflow: hidden;
    background: url(img/lupazul.png) no-repeat;
    height: 30px;
    display: inline-block;
    width: 30px;
    outline: none;
    vertical-align: middle;
    margin: 10px 10px 15px 20px;
}

.mas_info_gris{
    margin: 0px 10px;
    text-indent: -1000px;
    overflow: hidden;
    background: url(img/lupagris.png)  no-repeat;
    height: 30px;
    width: 30px;
    display: inline-block;
    outline: none;
    vertical-align: middle;
}

.mas_info_azul:HOVER, .mas_info_gris:HOVER {
    background-position: 1px 1px;
}


.separador{
    border-top-color: #25abe1;
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.uppercase{
    text-transform: uppercase;
}


.altrow {
    border-bottom: 1px groove gray;
    margin-bottom: 3px;
}

.ajax-loader {
    text-indent: -1000px;
    overflow: hidden;
    background: url(img/ajax-loader.gif) no-repeat;
    height: 32px;
    width: 32px;
    display: block;
    outline: none;
}



/** FORMULARIO DESIGN **/

/* formulario de 6 grids */
.formu_4{
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
}

.formu_4 input{
    width: 188px;
}



.formu_4 .input{
    margin-bottom: 3px;
}

.formu_4 label{
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 80px;
}

.formu_4 textarea{
    width: 278px;
    margin-left: 10px;
    margin-bottom: 2px;
}

.formu_4 .submit{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 80px;
}
.formu_4 input[type='submit']{
   width: 80px;
}

/**/

.formu_6 input{
    width: 67%;
}

.formu_6 .input{
    margin-bottom: 3px;
}

.formu_6 label{
    display: inline;
    float: left;
    margin-right: 10px;
    width: 80px;
}

.formu_6 textarea{
    width: 95%;
    margin-bottom: 2px;
}

.formu_6 .submit{
    margin-bottom: 10px;
    width: 80px;
}
.formu_6 input[type='submit']{
   width: 80px;
}
/**/

.boxform {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*AYUDA BUSCADOR*/

.help_head{
    height: 18px;
    padding:2px;
    font-weight:bolder;
    font-size: 9pt;
    font-family: helvetica, sans-serif;
}

.help_body{
    width:90%;
    font-size: 8pt;
    width:98%;
    margin:0px;
    padding: 0 5px 5px 5px;
}

.help_body table{
    width:90%;
    margin: 10px auto;
}

.help_body table tr td{
    border-bottom: 1px solid #CCCCCC;
}

.borde_derecho{
    border-right:1px solid #D1D1D1;
    margin-right: -20px;
}

.borde_izquierdo{
    border-left:1px solid #D1D1D1;
    padding-left: 15px;

}

.message{
    width: 100%;
    height: 20px;
    background: white;
    border-bottom: 1px solid #E2E2E4;
    color: red;
    text-align: center;
    border-top: 1px solid #E2E2E4;
    font-size: 1.2em;
    padding-top: 4px;
    padding-bottom: 0px;
    margin-top: 5px;
}

/* TABLAS */
table
{
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;*/
    font-size: 12px;
    background: #fff;
    margin: 5px;
    border-collapse: collapse;
    text-align: left;
}
table th
{
    font-size: 14px;
    font-weight: bold;
    color: #58585A;
    padding: 10px 8px;
    border-bottom: 5px solid #25ABE1;
}
table td
{
    border-bottom: 1px dashed #58585A;
    color: #58585A;
    padding: 6px 8px;
}
table tbody tr:hover td
{
    color: black;
}

li{
    margin-top: 4px;
}

.disabled{
    display:inline;
}

.inputs_largos input, .inputs_largos select{
    width: 95%;
}
.inputs_largos input[type=submit]{
    width: 100px;
}

#no_results {
    margin: 20px;
    font-style: italic;
}