
.titulo{
    background-image: url(img/diploma.png);
    background-repeat: no-repeat;
    border-bottom: 1px solid #5C9CCC;
}


.titulo H1{
    font-size: 10pt;
    color: black;
    padding-left: 38px;
    padding-top: 2px;
}

.titulo p{
    margin: 2px 0px;
    color: #3F3F3F;
}

.titulo UL{
    margin: 0px 0px;
    color: #3F3F3F;
}

ol, ul {
    list-style: none outside none;
}

#titulos-items {
    padding: 0;
}
#titulos-items li {
    border-bottom: 1px solid #CDCDCD;
    height: auto !important;
    margin: 0;
    min-height: 30px;
    padding: 15px 350px 5px 120px;
    position: relative;
}
.titulos-items-nombre {
    display: block;
    left: 10px;
    position: absolute;
    top: 14px;
    width: 350px;
    text-align:left;
    font-size: 9pt;
}
.titulos-items-oferta {
    position: absolute;
    right: 300px;
    text-align: right;
    top: 2px;
    width: 180px;
}
.titulos-items-actions {
    position: absolute;
    right: 30px;
    text-align: right;
    top: 2px;
    width: 180px;
}

.boxform {
    padding-top: 20px;
    padding-bottom: 20px;
}