
#head-text{
     background: none;
}

#logo{
     background: none;
}
#logo img {
     display: none;
}

#header_title{
    background: url(img/header_completo.png) no-repeat;
    /* background: url(img/header_degrade.png) repeat-y; */
}

.step{
     float: left;
     margin-left: 10px !important;
     margin-top: 10px !important;
     width: 21px;
}