
dt{
    font-weight: bold;
    margin-right: 10px;
}

dd{
    margin-left: 10px;
}

dd ul{
    margin: 0px;
    padding: 0px;
}


.titulo_name{
    color: #b1cc2f;
    font-weight: bolder;
}

.titulo{
    font-size: 0.95em;
    margin:5px 0 5px 0;
}

.titulo h3 {
    padding: 10px 0 0px 14px;
    margin: 0px;
}

.alerta-desactualizada{
    height: 100px;
    text-decoration: none;
    color: inherit;
    cursor: pointer; cursor: hand;
}
.alerta-desactualizada h2 {
    padding: 10px 0 0px 14px;
    margin: 0px;
}

.alerta-desactualizada:hover{
    color: #25abe1;
}

.alerta-desactualizada p{
    text-align:center;
}


.titulo div, .detalles div {
    margin: 5px 0 5px 0;
}

.titulo div p, .detalles div p {
    display:inline;
    width: 200px;
    margin: 0;
}

.titulo div ul, .detalles div ul{
    display: inline-block;
    margin-top: 5px;
    margin-left: 0;
    width: 200px;
    -moz-padding-start : 0;
    -webkit-padding-start : 0;
}



.detalles{
    margin: 20px 0 20px 0;
}
.detalles h3 {
    padding: 10px 0 0px 14px;
    margin: 0px;
}

.outdated{
    background: url(img/outdated.png) no-repeat;
    background-position: 0 50%;
    text-indent: -1000px;
    overflow: hidden;
    height: 44px;
    display: block;
    width: 44px;
    outline: none;    
    float: right;
    margin-right: 20px;
    margin-top: -30px;
}

.marcada {
    font-weight: bold;
}
.marcada a {
    text-decoration: none;
    color: #58585A;
}

.items-nombre {
    font-size: 9pt;
    font-weight: bold;
}

.instit-items-domicilio1 p, .instit-items-domicilio2 p{
    font-size: 9pt;
    margin:1px;
}

.items-actions {
    margin:0;
}

#boxAyuda{
    margin-top: 30px;
}