/*
azules
#0082ca oscuro
#25abe1 claro

#f1f1f2 body
#58585a negro letra
#b1cc2f verdoso amarillento
#dcddde gris oscuro fondos

*/



body{
    background-color: #F3F3F4;
    /* background-image: url(img/shadow.png); */
    background-repeat: repeat-x;
    background-position: 0 100px;
    color: #58585a;
    margin: 0px;
    padding: 0px;
    font-size: 8pt;
    font: 0.8em/1.5em Arial,Helvetica,sans-serif;
    color: #0B468E;
}
h1, h2, h3, h4{
   color: #58585a;
}

h1.corpus{
    background-color: #5C9CCC;
    color: #fff;
    text-transform: uppercase;
    float: left;
    clear: both;
}

h3 {
    font-weight: bold;
    color: #b1cc2f;
}

A#titulo_btn{
}

A#titulo_btn:HOVER{
}

A#instit_btn{
}

A#instit_btn:HOVER{
}

A#guiaestudiante_btn{
}

A#guiaestudiante_btn:HOVER{
}


#header{    
    /* background: url(img/header_bg.png) repeat-x; */
    
    /* background: url(img/header_bg.png) repeat-x; */
    
    /* background: #5C9CCC url(images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) repeat-x scroll 50% 50%; */
    
    height: 158px;
    overflow: visible;
}

#header-left-fluid{
    background: none repeat scroll 0 0 #0065A9;
    float: left;
    height: 158px;
    position: absolute;
    width: 50%;
    z-index: -1;
    left: 0px;
}

#header-right-fluid{
    background: none repeat scroll 0 0 #3AA8DB;
    float: right;
    height: 158px;
    position: absolute;
    width: 50%;
    z-index: -1;
    right: 0px;
}


#head-text{
    position: relative;
    height: 158px;    
    background: url(img/bandera_trans.png) no-repeat right;
    
}

#logo{
     background: url(img/logo.png) no-repeat;
     height: 150px;
     overflow: hidden;
     text-indent: -1000px;
     margin: 0px !important;
     padding: 0px !important;
}

#header_title{
    background: url(img/header.png) repeat-y;
}


#header_ministerio{
    width: 265px;
    height: 87px;
    float:left;
    margin-left: 10px;
}

#header h1 {
    margin: 46px 0px 0px 0px;   
    text-align: center;
    color: white;    
}
#header h1 a{
    text-decoration: none;
    margin: 0 auto;
    color: #fff;
    font-weight: bolder;
}

#header h1 a:hover {
    background: none;
    text-decoration: none;
    text-shadow: #000 1px 1px 0;
}

#menuhead{
    margin-top: 30px;
    height: 41px;
}



#logos{
    background-color: #faf9f7;
    padding-top: 20px;
    padding-bottom: 20px;
    width:100%;
    margin-top: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #A3A29C;
    height: 70px;
    overflow: hidden;
    text-align: center;
}

#logos a img {
    text-decoration: none;
    display: inline-block;
    margin: 13px 7px;
    border:0px;
}


#container{
    
}


.cuerpo{
    border: 2px solid #5C9CCC;
    
    -webkit-border-top-left-radius: 2em;
    -webkit-border-top-right-radius: 2em;
    -moz-border-radius-topleft: 2em;
    -moz-border-radius-topright: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    
    background-color: white;
    
}


.centrado{
    text-align: center;

}

.boxblanca{
    background-color: #fff;
}

.boxgris{
    background-color: #dcddde;

}