
UL.seleccionados{
    color: darkslateblue;
}


IMG.step{
    float: left;
    width:  21px;
    margin-left: -10px;
    margin-top: -10px;
    
}

#resultados{
    min-height: 500px;
}

.filtro{
    padding:3px 10px 3px 10px;
    margin:5px;
    background-color: #dcddde;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    display: inline-block;
}

.filtro a{
    text-decoration: none;
}
.filtros-aplicados{
    margin-top: 20px;
    padding:5px;
}

H3{
    clear: both;
    width: 100%;
}

H2{
    clear: both;
}

.jquery-checkbox {display: inline-block; font-size: 20px; line-height: 25px;}
.jquery-checkbox .mark {display: inline;}
.jquery-checkbox img {vertical-align: middle; width: 25px; height: 25px;}
.jquery-checkbox img{background: transparent url(img/check_box_empty.png) no-repeat;}
.jquery-checkbox-checked img{background-image: url(img/check_box.png)}

.results li span b, .seleccionados li span b{
    font-size: 1.2em;
}
.titulo_label{
    display:inline-block;
    width: 360px;
    vertical-align: middle;
    margin-top: 3px;
    margin-bottom: 6px;
    font-size: 1.2em;
    color: #58585A;
}

.results li, .seleccionados li{
    list-style: none;
}

#li_instits, #li_titulos{
    min-height: 150px;
}

#li_instits ul li{
    list-style: disc outside url("img/listitem.gif");
    margin-bottom: 5px;
}

#li_titulos ul li :hover{
    color:black;
    cursor: pointer; cursor: hand;
}
#li_instits ul li :hover{
    color:black;
    cursor: pointer; cursor: hand;
}
#li_instits a {
    color: #58585a;
    text-decoration: none;
    font-size: 10pt;
}
#li_instits a :hover {
    color:black;
    text-decoration: none;
}

.boxblanca{
    margin-right: 13px;
    padding-bottom: 20px;
}

.boxgris{
    padding-bottom: 13px;
}

.msj-vacio{
    display:none;
}

.asterisk{
    color:red;
    font-weight: bold;
}

.boxgris .boxblanca{
    margin: 13px;
}

.boxgris h2, .boxblanca h2,
.boxgris h3, .boxblanca h3,
.boxgris p, .boxblanca p{
    margin-left:13px;
}

.seccion div, .seccion h4{
    margin-left: 13px;
}

.paginator .count {
    font-size: 11pt;
}

.paginator a {
    color: #58585a;
}

.deleteable {
    font-size: 8pt;
    font-weight: bold;
    padding-left: 4px;
}