ol, ul {
    list-style: none outside none;
}

#items {
    padding: 0;
}
#items li {
    border-bottom: 1px dashed #CDCDCD;
    height: auto !important;
    margin: 0;
    padding: 3px 0;
    position: relative;
}

.paginator_prev_next_links {
    margin-top: 12px;
}

.marcada {
   font-weight: bold;
}
.marcada a {
   text-decoration: none;
   color: #58585A;
}

#search_results{
    padding-top: 20px;
}

.search-div {
    margin: 10px 10px 0 10px;
    padding: 10px;
    border: none;
}

.boton-buscar-avanzado {
    border: 1px solid #58585A;
    cursor: pointer;
    float: right;
    font-size: 11pt;
    font-weight: bold;
    height: 30px;
    width: 130px;
    margin: 0 10px 10px 0;
}

label {
    margin-top: 6px;
}

.search-fields h2{
    padding: 10px 0 0 10px;
}

.search-fields h2, .search-div h4{
    margin-top: 0;
}

.list-header {
    background-color: #F1F1F2;
    border-bottom: 1px groove #58585A;
    border-top: 1px ridge #58585A;
    padding-bottom: 5px;
    padding-top: 5px;
}

#items li:hover{
    color: #000000;
}