.boxblanca .mas_info_gris, .boxblanca .mas_info_azul,
.boxgris .mas_info_azul, .boxgris .mas_info_azul{
    float: right;
}

.box_home_buscadores {
    width: 49%;
    float: left;
    margin-top: -14px;

}

.box_home_buscadores_separador {
    width: 1%;
    float: left;
    border-right: 1px solid #e2e2e4;
    height: 58px;
    margin-top: 30px;
}