
A#titulo_btn{
    background-image: url('img/titulos.png');    
    height: 367px;
}

A#titulo_btn:HOVER{
    background-image: url('img/titulos_ho.png');
    height: 367px;
}

A#instit_btn{
    background-image: url('img/instituciones.png');
    height: 367px;
}

A#instit_btn:HOVER{
    background-image: url('img/instituciones_ho.png');
    height: 367px;
    vertical-align: bottom;
}

A#guiaestudiante_btn{
    background-image: url('img/guisestudiante.png');
    height: 367px;
}
A#guiaestudiante_btn:HOVER{
    background-image: url('img/guisestudiante_ho.png');
    height: 367px;
}