
#head-text{
     background: none;
}

#logo{
     background: none;
}

#header_title{
    background: url(img/header_completo.png) no-repeat;
    /* background: url(img/header_degrade.png) repeat-y; */
}