.boxblanca .mas_info_gris, .boxblanca .mas_info_azul,
.boxgris .mas_info_azul, .boxgris .mas_info_azul{
    float: right;
}

.box_home_buscadores {
    width: 49%;
    float: left;
    margin-top: -3px;

}

.box_home_buscadores_separador {
    width: 1%;
    float: left;
    border-right: 1px solid #e2e2e4;
    height: 58px;
    margin-top: 30px;
}

.photo{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:white none repeat scroll 0 0;
    border:1px solid #BEC0C4;
    clip:79px;
    margin-bottom:10px;
    margin-top:15px;
    padding:8px;
}

.photo div{
    overflow:hidden;
    vertical-align:center;
}

.photo div img{
    width:100%;
}