
#menu1 h2{
    font-size: 9pt;
    margin: 0px;
}

#menu1 h3{
    font-size: 9pt;
    margin: 0px;
}

#menu1 li{
    margin-top: 4px;
    
}

#menu1 ul ul{
    padding-left: 16px;
    
}

#menu1 a.current{
     color: #0082ca;
     text-decoration: none;
}


.boxdocs{
    padding-left: 20px;
    padding-right: 25px;
    text-align: justify;
}